In [11]:
import pandas as pd

In [12]:
data=pd.read_csv('vehicles_us.csv')
data.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [13]:
cleaned_data = data.dropna()

In [14]:
cleaned_data = cleaned_data.drop_duplicates()

In [15]:
cleaned_data = cleaned_data.reset_index(drop=True)

In [16]:
cleaned_data.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15
1,15990,2013.0,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68
2,19500,2011.0,chevrolet silverado 1500,excellent,8.0,gas,128413.0,automatic,pickup,black,1.0,2018-09-17,38
3,12990,2009.0,gmc yukon,excellent,8.0,gas,132285.0,automatic,SUV,black,1.0,2019-01-31,24
4,14990,2010.0,ram 1500,excellent,8.0,gas,130725.0,automatic,pickup,red,1.0,2018-12-30,13

In [17]:
cleaned_data['price'] = cleaned_data['price'].astype(int)
cleaned_data['model_year'] = cleaned_data['model_year'].astype(int)
cleaned_data['cylinders'] = cleaned_data['cylinders'].astype(int)
cleaned_data['odometer'] = cleaned_data['odometer'].astype(float)
cleaned_data['is_4wd'] = cleaned_data['is_4wd'].astype(bool)
cleaned_data['date_posted'] = pd.to_datetime(cleaned_data['date_posted'])
cleaned_data['days_listed'] = cleaned_data['days_listed'].astype(int)

In [18]:
cleaned_data.dtypes

price                    int32
model_year               int32
model                   object
condition               object
cylinders                int32
fuel                    object
odometer               float64
transmission            object
type                    object
paint_color             object
is_4wd                    bool
date_posted     datetime64[ns]
days_listed              int32
dtype: object

In [19]:
cleaned_data['price'].describe()

count     14852.000000
mean      15446.921155
std       11393.676296
min           1.000000
25%        6989.500000
50%       13500.000000
75%       21988.000000
max      375000.000000
Name: price, dtype: float64

In [20]:
cleaned_data['price'] = cleaned_data['price'].astype('int64')
cleaned_data['model_year'] = cleaned_data['model_year'].astype('int64')
cleaned_data['cylinders'] = cleaned_data['cylinders'].astype('int64')
cleaned_data['days_listed'] = cleaned_data['days_listed'].astype('int64')

cleaned_data.dtypes

price                    int64
model_year               int64
model                   object
condition               object
cylinders                int64
fuel                    object
odometer               float64
transmission            object
type                    object
paint_color             object
is_4wd                    bool
date_posted     datetime64[ns]
days_listed              int64
dtype: object